.bim-file-a-upload {
    padding: 3px 10px;
    margin: 1px 4px;
    height: 27px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.bim-file-a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.bim-file-a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #cbcbcb;
    text-decoration: none
}

/*progress#bim_file_progress.bim_file_progress {*/
/*    width: 160px;*/
/*    margin: 1px 4px;*/
/*    height: 27px;*/
/*    border: 1px solid #cbcbcb;*/
/*    border-radius:10px;*/
/*    background-color:#e6e6e6;*/
/*    color: #d1d0fd; !*IE10*!*/
/*}*/

/*progress#bim_file_progress.bim_file_progress::-moz-progress-bar {*/
/*    background: -webkit-linear-gradient(left, #eeecfd, #d1d0fd);*/
/*    border-radius:10px;*/
/*}*/
/*progress#bim_file_progress.bim_file_progress::-webkit-progress-bar {*/
/*    border-radius:10px;*/
/*    background: #e6e6e6;*/
/*}*/
/*progress#bim_file_progress.bim_file_progress::-webkit-progress-value  {*/
/*    background: -webkit-linear-gradient(left, #eeecfd, #d1d0fd);*/
/*    border-radius:10px;*/
/*}*/

/*div.bim_field_div{*/
/*    height: 34px;*/
/*}*/

/*span.bim_file_upLoad_info{*/
/*    position: absolute;*/
/*    padding: 3px 10px;*/
/*    margin: 1px 4px;*/
/*    height: 27px;*/
/*}*/